<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /von/lkpay
  RewriteRule ^von/lkpay/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /von/lkpay/index.html [L]
</IfModule>